#itemSelectorContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#selectedItemsContainer {
    padding-top: 10px;
    padding-bottom: 10px;
}

#selectedItemsContainer span.itemQty {
    font-weight: bold;
}